<div class="user-role">
  <div class="alert alert-primary mb-3" role="alert">
      <strong> goods menu </strong>
  </div>
  <button type="button" class="btn btn-outline-success mb-3" (click)="addProduct()"> add product </button>
  <table id="tbl" class="table table-light rounded mb-3">
      <thead>
          <tr class="bg-dark ">
            <th> product name </th>
            <th> product description </th>
            <th> product price </th>
            <th>  </th>
              <th>
                  <input type="checkbox" class="ckheader" (change)="SelectAll()">
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of goods">
            <td scope="row">
              {{item.name}}
          </td>
          <td scope="row">
            {{item.description}}
        </td>
         <td scope="row">
          {{item.price}}
      </td>
              <td>
                  <button type="button" class="btn btn-primary btn-sm" (click)="EditGood(item.id )">edit</button>
              </td>
              <td>
                  <input type="checkbox" class="ckitem" value="{{item.id}}">
              </td>
          </tr>
      </tbody>
  </table>
  <div>
       <button type="button" class="btn btn-danger btn-lg"  (click)="DeleteConfirm()" [disabled]="!IsDelete()"  >Delete
      </button>
  </div>
</div>

<!-- Modal -->
